@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://lightt-ui.netlify.app/lightui.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  font-family: "Poppins";
  background: var(--bg-color);
}

.main-product-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.filter-section {
  margin: 1rem 0;
}
.products-section {
  padding-bottom: 1rem;
}

.flex-gap {
  gap: 10px;
}
